<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <title>Janina</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" media="screen">
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <!-- Navbar -->
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">Janina</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav navbar-right">
          <% unless session[:e_mail] %>
          <li>
            <a href="/user/login">Login</a>
          </li>
          <li>
            <a href="/user/register">Register</a>
          </li>
          <% else %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="e_mail">
              <%= session[:e_mail] %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="e_mail">
              <li><a href="/profile/edit">Profile</a></li>
              <li class="divider"></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <!-- End Navbar -->

  <div id="wrapper">
    <!-- Sidebar -->
    <div class="overlay"></div>
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
      <ul class="nav sidebar-nav">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/lectures">Lectures</a>
        </li>
        <li>
          <a href="/users">Users</a>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar -->

    <!-- Content -->
    <div id="page-content-wrapper">
      <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
        <span class="hamb-top"></span>
        <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
      </button>
      <div class="container">
        <div class="row">
          <div class="col-lg-10 col-lg-offset-2">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <!-- End Content -->
  </div>

  <!-- Scripts -->
  <script type="text/javascript" src="/js/sidebar.js"></script>
  <!-- End Scripts -->
</body>
</html>
