<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div class="well bs-component">
      <form class="form-horizontal" method="post" action"/user/register">
        <fieldset>
          <legend>Register</legend>
          <div class="form-group">
            <label for="inputFullName" class="col-lg-4 control-label">Full Name</label>
            <div class="col-lg-8">
              <input type="text" class="form-control" id="inputFullName" name="full_name" placeholder="Full Name">
            </div>
          </div>
          <div class="form-group">
            <label for="inputFacultyNumber" class="col-lg-4 control-label">Faculty Number</label>
            <div class="col-lg-8">
              <input type="text" class="form-control" id="inputFacultyNumber" name="faculty_number" placeholder="Faculty Number">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail" class="col-lg-4 control-label">Email</label>
            <div class="col-lg-8">
              <input type="text" class="form-control" id="inputEmail" name="e_mail" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword" class="col-lg-4 control-label">Password</label>
            <div class="col-lg-8">
              <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Password">
            </div>
          </div>
          <div class="form-group">
            <label for="inputConfirmPassword" class="col-lg-4 control-label">Confirm Password</label>
            <div class="col-lg-8">
              <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-lg-8 col-lg-offset-4">
              <button type="submit" class="btn btn-primary">Register</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
