.media:first-child {
  margin-top: 15px;
}

.about {
  white-space: nowrap;
  width: 300px;
  overflow: hidden;
  text-overflow:ellipsis;
}

.github-input {
  width: 50%;
  display: inline-block;
}

.github-hint {
  display: inline;
  margin-left: 5px;
  color: #597ea2;
}

.half-width {
  width: 50%;
}

.task dl dt {
  display: block;
  float: left;
  font-weight: bold;
  width: 100px;
}

.task dl dd {
  clear: right;
  margin: 5px 0;
}

.button-with-icon-text {
  margin-left: 5px;
}

.task p.closed {
  font-weight: bold;
}

.code-line {
  white-space: pre-wrap;
}

.leaderboard .rank {
  width: 46px;
}

.leaderboard .photo {
  width: 36px;
}

.user {
  padding: 15px;
}

.user:hover {
  background-color: whitesmoke;
  border-radius: 5px;
}

.pagination {
  margin-bottom: 1em;
  text-align: center;
}

.pagination span, .pagination em, .pagination a {
  background-color: whitesmoke;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  padding: 8px 16px;
  text-align: center;
  margin: 2px;
  color: black;
}

.pagination a:hover {
  background-color: #2c3e50;
  color: white;
  text-decoration: none;
}

.pagination .current {
  background-color: #2c3e50;
  color: white;
  text-decoration: none;
}