.media:first-child {
  margin-top: 15px;
}

.about {
  white-space: nowrap;
  width: 300px;
  overflow: hidden;
  text-overflow:ellipsis;
}

.github-input {
  width: 50%;
  display: inline-block;
}

.github-hint {
  display: inline;
  margin-left: 5px;
  color: #597ea2;
}

.half-width {
  width: 50%;
}