.media:first-child {
  margin-top: 15px;
}

.about {
  white-space: nowrap;
  width: 300px;
  overflow: hidden;
  text-overflow:ellipsis;
}

.github-input {
  width: 50%;
  display: inline-block;
}

.github-hint {
  display: inline;
  margin-left: 5px;
  color: #597ea2;
}

.half-width {
  width: 50%;
}

.task dl dt {
  display: block;
  float: left;
  font-weight: bold;
  width: 100px;
}

.task dl dd {
  clear: right;
  margin: 5px 0;
}

.button-with-icon-text {
  margin-left: 5px;
}

.task p.closed {
  font-weight: bold;
}

.code-line {
  white-space: pre-wrap;
}

.leaderboard .rank {
  width: 46px;
}

.leaderboard .photo {
  width: 36px;
}
